<div class="row-fluid">
	<div class="span12">
		<h1>{{ pageTitle }}</h1>
		<p>
			Aliquam erat volutpat. Phasellus iaculis tincidunt sapien eget molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec dapibus dui in lacus consectetur, nec porta risus lobortis. Cras aliquam ultricies leo vel sagittis. Curabitur mattis elit nunc, quis convallis ex sodales quis. Donec vulputate quam nec nisl cursus, ac posuere risus vehicula. Donec quis purus eu urna convallis imperdiet et id orci. Vivamus euismod consectetur diam, cursus sollicitudin enim porttitor quis. Duis eget dui quis libero placerat fringilla ut et diam. Pellentesque a tellus facilisis, consectetur sapien eu, tempor mi. Vestibulum est enim, posuere vehicula rutrum a, vehicula ut massa. Etiam nec lectus tempus mi vestibulum euismod tristique id metus. Aenean in sem vel risus semper finibus vel pellentesque purus. Praesent pharetra justo ac aliquam consectetur. Morbi odio elit, varius ut pellentesque eget, pharetra eu nisl.
		</p>
	</div>
</div>