<div class="row-fluid">
	<div class="span12">
		<h1>Contact Us</h1>
		<p>
			Phasellus maximus sed lorem eget volutpat. Donec eu ex magna. Ut molestie justo a dolor scelerisque, eu luctus erat pulvinar. Quisque tempor, mauris euismod congue blandit, est arcu auctor lorem, id facilisis nisi nisi pulvinar mauris. Nullam eu lacus vel felis aliquet accumsan nec non tortor. Praesent sed augue varius, sollicitudin enim et, sollicitudin nunc. Fusce pharetra massa et facilisis tempus. Phasellus bibendum, metus a dictum ullamcorper, lectus massa rutrum tellus, et faucibus augue lectus et lectus. Maecenas id nisl velit. Aliquam tristique viverra rhoncus. Integer cursus ornare interdum. Nulla id lobortis nisi, vitae vestibulum erat. Integer accumsan tortor sit amet leo auctor, nec hendrerit nisl mollis. Vestibulum ac augue ut ipsum convallis mollis.
		</p>
	</div>
</div>